* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MinhaFontePersonalizada';
    src: url('fonte/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('woff2'),
         url('fonte/Inter/Inter-VariableFont_opsz\,wght.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }


header {
    background-color: white;
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
}

body {
    background: #B9DDFE;
    height: 100vh;
}

button{
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

button:hover{

    border-radius: 7px;
    transition: 0.5s;
    background-color: #dadada;

}

li
{
    list-style: none;
    line-height: 1.5em;
}


.cabeca{
    /* margin-left: 1vw; */
    align-items: center;
}

.botoes{

    width: 10vw;
    margin-top: 3.4vh;
    margin-left: 1.5vw;
    margin-right: 26vw;
    
    & .lupa{
        margin-left: 1.5vw;
    }
}

.navM {
    margin-top: 3vh;
    margin-left: 1vw;
    cursor: pointer;
}

.navM > span {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 9999px;
    background-color: rgb(99, 99, 99);
}

.navM > span:not(:last-child) {
    margin-bottom: 5px;
}

.navM, .navM > span {
    transition: all .4s ease-in-out;
}

.navM.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
}

.navM.active > span:nth-child(2) {
    width: 0;
}

.navM.active > span:nth-child(1),
.navM.active > span:nth-child(3) {
    transition-delay: .4s;
}

.navM.active > span:nth-child(1) {
    transform: translateY(9px);
}

.navM.active > span:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

.menu {

    position: absolute;
    margin-left: 3.2vw;
    margin-top: 100vh;
    left: -350px;
    width: 13vw;
    height: 91.8vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transition: left 0.6s ease-in;

    & .textos{
        
        font-size: 35px;
        margin-top: 2vh;
        margin-left: 2vw;
    }

   & .BTmenu{

        display: flex;
        align-items: center;

        & .janela{
            margin-left: 0.4vw;
        }

        & .config{
            margin-left: 7.5vw;
        }
   }

}

.menu.active {
    left: 0;
}

.container{

    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-top: 1px;
    height: 91.8vh;
    width: 3vw;

    & .botoes2 {
        
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & .kanban{
            margin-top: 1vh;
        }
    }

    & .botoes2 > button{

        width: 40px;

    }
}